/*
!.git/
!.gitignore
!README.md
!.catkin_workspace

#Codes
!/src
/src/*
!/src/rtabmap_ros_*
!/src/data_to_rosbag
!/src/terreslam
!/src/minkindr
!/src/catkin_boost_python_buildtool
!/src/numpy_eigen
!/src/minkindr_ros

#Configurations
!/rviz

#Ignore
**/.git2/
**/build/
**/bin/
**/*.user
**/*.pyc
**/*.fuse*
**/*.vscode
